
<div style="height: 100vh; display: flex; flex-direction: column;">
  <app-navbar style="position: fixed; width: 100%; top: 0; z-index: 1000;"></app-navbar>
  
  <div style="margin-top: 60px; flex-grow: 1;"> 
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>


<!-- <app-footer></app-footer> -->
 <!-- <app-my-appointments></app-my-appointments> -->
  <!-- <app-video-call></app-video-call> -->

  <!-- <app-header></app-header> -->
<!-- <app-video-call></app-video-call> -->
<!-- <app-footer></app-footer> -->
